---
permalink: /about
layout: index.liquid
data:
  route: about
---
<style>

body {
	overflow-x: hidden !important;
}

section { padding: 2em;}
#hero {
	background-image: url('/img/about_bg.svg');
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	background-color: var(--clr-lavender-lightest);
}

section >  article {
	flex-direction: column
}

.timeline-container {
	content: '';
	background: var(--clr-green-darker);
	width: 10px;
	left: 10%;
	position: relative;
}

.timeline-item {
	padding: 3em 1em 0 0;
	width: 90vw;
}

.timeline-item h2, .timeline-item h3 { 
	margin: 28px;
 }

.timeline-item h3 {
	line-height: 1.6;
}

.timeline-content {
	flex-wrap: wrap;
	max-width: 900px;
}


#action-plan ul.step-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 0;
}

#action-plan ul.step-list li.step-card {
    border-radius: 15px;
    padding: 2em;
    flex: 1 1 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-icon {
    margin-bottom: 1em;
}

#team {
    position: relative;
    overflow: hidden;
	padding: 0;
	margin: 0;
}
#core-team {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1em;
}

#core-team, #team h2, #team h3 {
	padding: 0 32px;
}

#core-team span { color: var(--clr-green-darker); }
#core-team li:not(.space) {
	padding: 10px;
	display: flex;
	align-items: center;
}

#core-team div { border-left: 3px solid var(--clr-green-darker); padding-left: 10px; }
#core-team img {
    width: 100%;
    max-width: 20vw;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-right: 10px;
	background-color: var(--clr-whitest);
}

#team-members {
	background-image: url('/img/team_l.svg');
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size:contain;
	height: 700px;
	width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

@media (max-width: 1279px) {
	#hero {
		background-image: url('/img/about_bg_sm.svg');
	}
	#core-team { display: flex; flex-direction: column; align-items: center;}
	#core-team li { margin-top: 10px; }
	.space { display: none; }
	#team-members {
		background-image: url('/img/team_s.svg');
		height: 300px;
		background-size: cover;
	}
}

</style>
<body>
	{% for about in site.data.tr[site.data.lang].about_us %}

	<section {% if about.id == "hero" %} id="hero" class="left dark-olive-text">
		<article class="animated">
			<h1 class="maxwidth--text_desktop">{{ about.title }}</h1>
		</article>
	</section>
{% endif %}

	<div {% if about.id == "issue" %} id="issue" class="white-text timeline-container">
	  <div class="timeline-item">
		<div class="timeline-content">
		  <h2 class="dark-green-text">{{ about.title }}</h2>
		  <h3 class="animated">{{ about.paragraph_one }}</h3>
		  <h3 class="animated">{{ about.paragraph_two }}</h3>
		</div>
	  </div>
	</div>
  {% endif %}
	<div {% if about.id == "virto" %} id="virto" class=" white-text timeline-container">
	  <div class="timeline-item">
		<div class="timeline-content">
		  <h2 class=" dark-green-text">{{ about.title }}</h2>
		  <h3 class="animated">{{ about.paragraph_one }}</h3>
		  <h3 class="animated">{{ about.paragraph_two }}</h3>
		  <h3 class="animated">{{ about.paragraph_three }}</h3>
		  <h3 class="animated">{{ about.paragraph_four }}</h3>
		</div>
	  </div>
	</div>
  {% endif %}
	
<section {% if about.id == "action-plan" %} id="action-plan" class="light-green-bg">
    <article class="animated center">
        <h2>{{ about.title }}</h2>
        <h3>{{ about.subtitle }}</h3>
        <ul class="step-list">
            {% for step in about.step_list %}
                <li class="step-card white-bg">
                    <div class="step-icon">
                        {% include step.icon %}  
                    </div>
                    <h3>{{ step.content }}</h3>
                </li>
            {% endfor %}
        </ul>
    </article>
</section>
{% endif %}

<section {% if about.id == "team" %} id="team" class="whitest-bg dark-olive-text">
	<article class="animated">
		<h2>{{ about.title  }}</h2>
		<h3>{{ about.subtitle  }}</h3>
			<ul id="core-team">
				{% for core_member in about.core_team %}
					<li>
						<img src="{{ core_member.avatar }}" alt="{{ core_member.name }}" height="50">
						<div>
							<a href={{ core_member.link }} class="dark-olive-text">
								<h4>{{ core_member.name }}</h4>
								<h5 class="thin">{{ core_member.role }}</h5>
							</a>
						</div>
					</li>
					<li class="space"></li>
				{% endfor %}
			</ul>
	<div id="team-members"></div>
	</article>
</section>
{% endif %}

<section {% if about.id == "cta_about" %} id="cta_about" class="cta dark-green-text">
	<article class="animated center">
		<h3 class="regular">{{ about.subtitle }}</h3>
		<h2>{{ about.title }}</h2>
		<h3 class="bold white-text">{{ about.paragraph }}</h3>
			<a class="button" href={{ site.data.apply }}>
				{{ about.call_to_action }}
			</a>	
	</article>
</section>
{% endif %}

{% endfor %}
</body>