---
permalink: /sobre-nosotros/
title: Sobre Nosotros
layout: index.liquid
data:
  route: sobre-nosotros
---
<style>
	/*Dark Nav*/
	#nav { background-color: var(--clr-blue-light); }
	#nav a:not(#about-link) { color: var(--clr-olive-darker); }
	#menu-icon svg line { stroke: var(--clr-olive-darker); }
	#virto-logo svg path { fill: var(--clr-olive-darker); }

	body {
		display: flex;
		flex-direction: column;
	}

#hero article {
	background-image: url('./img/about_bg.svg');
}
</style>
<body>
{% for about in site.data.index.about_us %} 

	<section {% if about.id == "hero" %} id="hero" class="left dark-olive-text">
		<article class="animated light-lavender-bg">
			<h1>{{ about.title }}</h1>
		</article>
	</section>
{% endif %}

<section {% if about.id == "issue" %} id="issue" >
	<article class="animated">
		<h2>{{ about.title }}</h2>
		<div>
			<h3>{{ about.paragraph_one }}</h3>
			<h3>{{ about.paragraph_two }}</h3>
		</div>
	</article>
</section>
{% endif %}
	
<section {% if about.id == "virto" %} id="virto">
	<article class="animated">
		<h2>{{ about.title }}</h2>
			<div>
				<h3>{{ about.paragraph_one }}</h3>
				<h3>{{ about.paragraph_two }}</h3>
				<h3>{{ about.paragraph_three }}</h3>
			</div>
	</article>
</section>
{% endif %}
	
<section {% if about.id == "action-plan" %} id="action-plan">
	<article class="animated">
		<h2>{{ about.title }}</h2>
		<h3>{{ about.subtitle }}</h3>
		<ul>
		{% for step in about.step_list %}
			<li>
				<h3>{{ step.content }}</h3>
			</li>
		{% endfor %}
		</ul>
	</article>
</section>
{% endif %}


{% endfor %}
</body>