---
title: Virto Network
layout: index.liquid
---

<hr class="sticky-hack">
{% include "nav.liquid" active: "", class: "fixed" %}

<aside id="sponsors">
	<ul>
		{% for sponsor in site.data.index.sponsors %}
		<li><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" height="38"></li>
		{% endfor %}
	</ul>
</aside>

<section id="home">
	<figure id="logo" title="Virto Network">
		{% include "virto_logo.svg" domain: true %}
	</figure>
	<p>{{ site.data.index.description }}</p>
</section>

<section id="LIP">
	<article class="max">
		<h2>Local Incentives Protocol</h2>
		<figure><img src="img/protocol.svg" alt="protocol summary"></figure>
		<p>{{ site.data.index.lip }}</p>
	</article>
</section>

<section id="communities">
	<article class="max">
		<h2 data-img="img/comunidad.svg">Communities</h2>
		<p>{{ site.data.index.community }}</p>
		<div class="globe"></div>
	</article>
</section>

<section id="marketplaces">
	<article class="max">
		<h2 data-img="img/marketplace.svg">Marketplaces</h2>
		<p>{{ site.data.index.marketplace }}</p>
		<ul class="carousel">
			{% for market in site.data.index.marketplace_list %}
				<li class="card" tabindex="-1"{% if market.when %} data-when="{{ market.when }}"{% endif %}>
				<figure class="logo">
					{% if market.logo %}
					<img src="{{ market.logo }}" alt="{{ market.name }} logo">
					{% endif %}
				</figure>
				<h3>
					{% if market.home %}<a href="{{ market.home }}" target="_blank">{% endif %}
					{{ market.name }}
					{% if market.home %}</a>{% endif %}
				</h3>
				<p>{{ market.desc }}</p>
			</li>
			{% endfor %}
		</ul>
	</article>
</section>

<section id="APIs">
	<article class="max">
		<h2>De-Commerce APIs</h2>
		<p>{{ site.data.index.apis }}</p>
		<ul>
			{% for api in site.data.index.apis_list %}
			<li>
				<a href="https://github.com/virto-network/virto-apis">{{ api.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</article>
</section>

<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });
</script>
