---
title: Virto Network
layout: index.liquid
data:
  route: home
---

{% for home_section in site.data.index.home_sections %}
<section {% if home_section.id == "home" %} id="home" class="dark-green-bg">
	<article class="max animated">
		<div class="text-section lightest-lavender-text">
			<p>{{ home_section.eyebrow }}</p>
			<h1>Virto: {{ home_section.title }}</h1>
			<p>{{ home_section.paragraph }}</p>
			<button><a href={{ home_section.href }}>{{ home_section.call_to_action }}</a></button>
		</div>
		<div class="buttons-container hide">
			<figure>
				{% include "right.svg" %}
			</figure>
			<figure>
				{% include "left.svg" %}
			</figure>
		</div>
		<figure class="arrow-right">
				{% include "arrow_right.svg" %}
			</figure>
		<figure class="logo">
			{% include "Apps.svg" %}
		</figure>
	</article>
</section>
{% endif %}

<section {% if home_section.id == "jobs" %} id="jobs" class="light-green-text">
	<h2 class="animated center title-max-width">{{ home_section.title }}</h2>
	<article class="max">
			{% for card in home_section.cards %}
				<div class="animated box">
					<h3 class="regular outfit">{{ card.title }}</h3>
					<p class="regular">{{ card.content }}</p>
				</div>
		{% endfor %}
	</article>
</section>
{% endif %}

<section {% if home_section.id == "benefits" %} id="benefits" class="white-bg">
	<article class="max column">
		<h2 class="dark-green-text">{{ home_section.title }}</h2>
		<div class="benefits-container dark-olive-text">
			{% for card in home_section.cards %}
			<div class={{ card.class }}>
				<div class="benefits-column">
					<figure class="benefits-image">
						{% include card.svg %}
					</figure>
				</div>
				<div class="benefits-column text">
					<h2>{{ card.title }}</h2>
					<p>{{ card.content }}</p>
				</div>  
			</div>
		{% endfor %}
      
	</article>
</section>
{% endif %}

{% if home_section.id == "testimonials" %}
	<section id="testimonials" class="light-lavender-bg center">
		<article class="max animated column">
			<h2 class="dark-lavender-text">{{ home_section.title }}</h2>
			<div class="testimonials-container">
				{% for testimonial in home_section.testimonials %}
					<div class="testimonial {% unless forloop.first %}hidden{% endunless %}">
						<img src="{{ testimonial.avatar }}" alt="Avatar de {{ testimonial.person }}" class="avatar">
						<p class="testimonial-message">{{ testimonial.message }}</p>
						<p class="testimonial-person bolder">{{ testimonial.person }}</p>
					</div>
				{% endfor %}
				<a class="arrow left" id="prevTestimonial">
					{% include "left.svg" %}
				</a>
				<a class="arrow right" id="nextTestimonial">
					{% include "right.svg" %}
				</a>
			</div>
		</article>
	</section>
{% endif %}

{% if home_section.id == "qa" %}
	<section id="q&a" class="white-bg">
		<article class="max animated">
			<h2 class="dark-green-text">{{ home_section.title }}</h2>
			<div class="q&a-container">
				<ul class="faq-list">
					{% for question in home_section.questions %}
						<li>
							<button class="question-button bolder">{{ question.question }}</button>
							<div class="answer hidden">
								<p>{{ question.answer }}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</article>
	</section>
{% endif %}

<section {% if home_section.id == "cta" %} id="cta" class="cta light-lavender-bg">
	<article class="animated center dark-olive-text">
		<h3 class="bolder">{{ home_section.eyebrow }}</h3>
		<h2 class="bolder">
			<span>{{ home_section.title }}</span>
		</h2>
		<h3>{{ home_section.content  }}</h3>
		<button><a href={{ home_section.href }} >{{ home_section.call_to_action }}</a></button>
		{% assign matrix_to = "#virto-network:virto.community?via=virto.community" %}
		<ul class="max">
			<a title="E-mail" href="mailto:contact@virto.team" class="dark-olive-text thin">
				{% include "email.svg" %}
			</a>
			<a title="Community" href="https://matrix.to/#/{{ matrix_to }}" class="dark-olive-text thin">
				{% include "element.svg" %}
			</a>
			<a title="Github" href="https://github.com/virto-network" class="dark-olive-text thin">
				{% include "gh.svg" %}
			</a>
		</ul>
	</article>
</section>
{% endif %}
{% endfor %}


<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });

const testimonials = document.querySelectorAll('.testimonial');
const prevButton = document.getElementById('prevTestimonial');
const nextButton = document.getElementById('nextTestimonial');
let currentTestimonial = 0;

function showTestimonial(index) {
    testimonials[currentTestimonial].classList.add('hidden');
    currentTestimonial = (index + testimonials.length) % testimonials.length;
    testimonials[currentTestimonial].classList.remove('hidden');
}

prevButton.addEventListener('click', () => showTestimonial(currentTestimonial - 1));
nextButton.addEventListener('click', () => showTestimonial(currentTestimonial + 1));

const questionButtons = document.querySelectorAll('.question-button');

questionButtons.forEach(button => {
    button.addEventListener('click', () => {
        const answer = button.nextElementSibling;
        answer.classList.toggle('show');
    });
});

</script>