---
title: Virto Network
layout: index.liquid
data:
  route: home
---

{% for home_section in site.data.index.home_sections %}
<section {% if home_section.id == "home" %} id="home" class="light-green-bg">
	<article class="max animated">
		<div class="text-section dark-olive-text">
			<p>¡Bienvenido a Virto!</p>
			<h1>{{ home_section.title }}</h1>
			<p>{{ home_section.paragraph }}</p>
			<button><a href="/coming-soon/">{{ home_section.call_to_action }}</a></button>
		</div>
		<div class="buttons-container hide">
			<figure>
				{% include "right.svg" %}
			</figure>
			<figure>
				{% include "left.svg" %}
			</figure>
		</div>
		<figure class="arrow-right">
				{% include "arrow_right.svg" %}
			</figure>
		<figure class="logo image">
			{% include "Ilustraciones_1_Slider 1.svg" %}
		</figure>
	</article>
</section>
{% endif %}

<section {% if home_section.id == "presentation" %} id="presentation">
	<article class="max animated">
		<div class="column">
			<h2 class="light-green-text">{{ home_section.title }}</h2>
			<figure class="logo">
				{% include "presentamos_virto.svg" %}
			</figure>
		</div>
		<div class="text-section light-green-text">
			<h3>Una infraestructura descentralizada basada en el ecosistema <strong>Polkadot.</strong></h3>
			<p>{{ home_section.paragraph }}</p>
			<a href="/docs/whitepaper.html"class="bold light-green-text center-arrow">{{ home_section.call_to_action }}
				<figure class="link-arrow color">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>
	</article>
</section>
{% endif %}

<section  {% if home_section.id == "not-programmer" %} id="not-programmer" class="cta">
	<article class="max animated light-green-text center">
		<h2>{{ home_section.title }}
		<h3>{{ home_section.paragraph }}</h3>
		<button class="medium-lavender-bg"><a href="/coming-soon/">{{ home_section.call_to_action }}</a></button>
		<figure class="arrow">
			{% include "arrow_down.svg" %}
		</figure>
	</article>
</section>
{% endif %}

<section  {% if home_section.id == "know-more" %} id="know-more" class="white-bg">
	<article class="max">
	<h3 class="boldest dark-olive-text">Conoce más sobre</h3>
		<ul class="auto-grid">
		{% for card in home_section.cards_to_sections %}
				<li class="animated">
					<img src={{ card.img }} alt={{ card.alt }}/>
					<h3 class="bolder dark-olive-text">{{ card.title }}</h3>
					<p class="grey-text">{{ card.content }}</p>
					<a class="bold dark-olive-text center-arrow" href={{ card.href }}>
						{{ card.call_to_action }}
					<figure class="link-arrow">{% include "see_more.svg" %}</figure>
					</a>
				</li>
		{% endfor %}
		
		</ul>
		<h3 class="dark-olive-text">
			<a class="center-arrow dark-olive-text boldest header-2" href="/coming-soon/">¿Listo para empezar?
				<figure class="link-arrow">
					{% include "ready_to_start.svg" %}
				</figure>
			</a>
		</h3>
	<article>
</section>
{% endif %}

<section {% if home_section.id == "local-community" %} id="local-community" class="whitest-bg">
	<article class="max animated">
		<div class="text-section">
			<h2 class="dark-olive-text">{{ home_section.title }}</h2>
			<figure class="logo build-machine">
				<img src="img/build_machine.svg" alt="Construir comunidad"/>
			</figure>
		</div>
		<div class="text-section">
			<h3 class="dark-olive-text">En Virto®, te lo facilitamos.</h3>
			<p class="grey-text">{{ home_section.paragraph }}</p>
			<a class="dark-olive-text center-arrow" href="/coming-soon/">{{ home_section.call_to_action }}
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</div>
	</article>
</section>
{% endif %}

<section {% if home_section.id == "you-decide" %} id="you-decide" class="cta light-lavender-bg">
	<article class="animated center dark-olive-text">
		<h3 class="bolder">{{ home_section.eyebrow }}</h3>
		<h2 class="header-0 bolder">
			<span>{{ home_section.title }}</span>
		</h2>
		<button><a href="/docs/whitepaper.html" >{{ home_section.call_to_action }}</a></button>
		{% assign matrix_to = "#virto-network:virto.community?via=virto.community" %}
		<ul class="max">
			<a title="E-mail" href="mailto:contact@virto.team" class="dark-olive-text thin">
				{% include "email.svg" %}
			</a>
			<a title="Community" href="https://matrix.to/#/{{ matrix_to }}" class="dark-olive-text thin">
				{% include "element.svg" %}
			</a>
			<a title="Github" href="https://github.com/virto-network" class="dark-olive-text thin">
				{% include "gh.svg" %}
			</a>
		</ul>
	</article>
</section>
{% endif %}
{% endfor %}


<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });

</script>