---
title: Virto Network
layout: index.liquid
data:
  route: home
---

<section id="home" class="light-green-bg">
	<article class="max animated">
		<div class="text-section dark-olive-text">
			<p>¡Bienvenido a Virto!</p>
			<h1>Aquí podrás construir y comerciar con comunidades <span class="dark-lavender-text">en todo el mundo.</span></h1>
			<p>Sigue con nosotros y descubre cómo hacerlo.</p>
			<button><a href="/coming-soon/">Aprender cómo</a></button>
			<a href="#footer" class="scroll-down-link dark-olive-text center-arrow">Ir al final
				<figure class="link-arrow">
						{% include "down.svg" %}
				</figure>
	 		</a>
		</div>
		<div class="buttons-container hide">
			<figure>
				{% include "right.svg" %}
			</figure>
			<figure>
				{% include "left.svg" %}
			</figure>
		</div>
		<figure class="arrow-right">
				{% include "arrow_right.svg" %}
			</figure>
		<figure class="logo image">
			{% include "Ilustraciones_1_Slider 1.svg" %}
		</figure>
	</article>
</section>

<section id="presentation">
	<article class="max animated">
		<div class="column">
			<h2 class="light-green-text">Te presentamos</h2>
			<h2><span class="light-lavender-text">Virto®</span></h2>
			<figure class="logo">
				{% include "presentamos_virto.svg" %}
			</figure>
		</div>
		<div class="text-section light-green-text">
			<h3>Una infraestructura descentralizada basada en el ecosistema <strong>Polkadot.</strong></h3>
			<p>Te ofrecemos herramientas para integrar la tecnología blockchain a tu negocio, mejorando la eficiencia operativa, reduciendo costos y brindándote más beneficios.</p>
			<a href="/docs/whitepaper.html"class="bold light-green-text center-arrow">Conoce las herramientas
				<figure class="link-arrow color">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>
	</article>
</section>

<section id="not-programmer" class="cta">
	<article class="max animated light-green-text center">
		<h2>¿No eres programador?
		<span class="light-lavender-text">¡No hay problema!</span></h2>
		<h3>Con Virto® no necesitas ser un experto en tecnología para disfrutar de los beneficios de nuestra infraestructura.</h3>
		<button class="medium-lavender-bg"><a href="/coming-soon/">Aprender cómo</a></button>
		<figure class="arrow">
			{% include "arrow_down.svg" %}
		</figure>
	</article>
</section>

<section id="know-more" class="white-bg">
	<article class="max">
	<h3 class="boldest dark-olive-text">Conoce más sobre</h3>
	<ul class="auto-grid">
		{% for cards_to_section in site.data.index.cards_to_sections %}
			<li class="animated">
				<img src={{ cards_to_section.img }} alt={{ cards_to_section.alt }}/>
				<h3 class="bolder dark-olive-text">{{ cards_to_section.title }}</h3>
				<p class="grey-text">{{ cards_to_section.content }}</p>
				<a class="bold dark-olive-text center-arrow" href={{ cards_to_section.href }}>
					Ver más
				<figure class="link-arrow">{% include "see_more.svg" %}</figure>
				</a>
			</li>
		{% endfor %}
	</ul>
		<h3 class="dark-olive-text">
			<a class="center-arrow dark-olive-text boldest header-2" href="/coming-soon/">¿Listo para empezar?
				<figure class="link-arrow">
					{% include "ready_to_start.svg" %}
				</figure>
			</a>
		</h3>
	<article>
</section>

<section id="local-community" class="whitest-bg">
	<article class="max animated">
		<div class="text-section">
			<h2 class="dark-olive-text">¿Te has preguntado cómo puedes marcar <span class="dark-green-text">la diferencia en tu comunidad local?</span></h2>
			<figure class="logo build-machine">
				{% include "build_machine.svg" %}
			</figure>
		</div>
		<div class="text-section">
			<h3 class="dark-olive-text">En Virto®, te lo facilitamos.</h3>
			<p class="grey-text">Por cada transacción que realizas en nuestro ecosistema, un porcentaje se destina para un fondo común que beneficia a la comunidad a la cual perteneces.</p>
			<a class="dark-olive-text center-arrow" href="/coming-soon/">Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</div>
	</article>
</section>

<section id="you-decide" class="cta light-lavender-bg">
	<article class="animated center dark-olive-text">
		<h3 class="bolder">Tú decides y ayudas a mejorar tu entorno.</h3>
		<h2 class="header-0 bolder">
			<span>¡Así, juntos hacemos un </span>
			<span class="underlined-element">mundo mejor!</span>
		</h2>
		<button><a href="/docs/whitepaper.html" >Aprender cómo</a></button>
		{% assign matrix_to = "#virto-network:virto.community?via=virto.community" %}
		<ul class="max">
			<a title="E-mail" href="mailto:contact@virto.team" class="dark-olive-text thin">
				{% include "email.svg" %}
			</a>
			<a title="Community" href="https://matrix.to/#/{{ matrix_to }}" class="dark-olive-text thin">
				{% include "element.svg" %}
			</a>
			<a title="Github" href="https://github.com/virto-network" class="dark-olive-text thin">
				{% include "gh.svg" %}
			</a>
		</ul>
	</article>
</section>

<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });

</script>