---
permalink: /servicios/
title: Servicios
layout: index.liquid
data:
  route: servicios
---
<style>

section {
  display: flex;
  gap: 2em;
}
.services-section {
  justify-content: space-around;
}

.services-section__lock-icon svg {
  width: clamp(250px, 30vw, 500px);
  height: auto;
}

#lock-icon path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 4s ease-in-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

#lock-icon .lock-glare {
  stroke: var(--clr-green-lighter);
  stroke-width: 1; 
  stroke-dasharray: 5 5;
  stroke-dashoffset: 10;
  animation: electrify .5s linear infinite;
}

@keyframes electrify {
  0% {
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -10;
  }
}
.services-section__scroll-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.services-section__scroll-arrow {
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#key_features {
    background-image: url('/img/features_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.key_features--list {
    display: flex;
    width: 90%;
    gap: 2em;
    flex-direction: column;
}

.key_features--list li {
    width: 40%;
    display: grid;
    gap: .5em;
}

.key_features--list li h2 {
    font-size: 1.75em;
}

.align-right {
    align-self:self-end;
    text-align: right;
}

.bottom {
  position: relative;
  bottom: -50px;
}

#optimize_resources > article {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  margin: 5em 0;
  padding: 0 2em;
}

.optimize_resources--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  grid-column: 1 / -1;
}

.optimize_resources--grid li {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.optimize_resources--svg_list svg {
  width: 100%;
  object-fit: contain;
  height: auto;
  margin-bottom: 1em;
}

#allies {
  display: flex;
}

#allies article {
  gap: 3em;
}

.allies--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}
.allies--svg {
    width: 40%;
}

.floating-rotation {
  animation: floatAndRotate 5s linear infinite;
  transform-origin: 45% 50%;
}

@keyframes floatAndRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-3px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

#cta_services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

#cta_services article {
  margin: 0;
  padding: 0;
}

#cta_services div {
  display: flex;
  gap: 1em;
}
.cta_services--svg {
    align-items: flex-start;
}

@media (max-width: 1279px) {
  #cta_services article:nth-child(2) {
    flex-wrap: wrap;
  }
  #key_features {
    background-image: url('/img/features_bg_sm.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .allies--container {
    flex-direction: column;
    max-width: 320px;
  }
  .allies--container h3 {
    text-align: center;
  }
  .allies--svg {
    height: 300px;
  }
}

@media (min-width: 1279px) {
  #cta_services article:nth-child(2) {
    flex-wrap: nowrap;
  }
}

</style>

{% for service in site.data.index.services %}
        <section {% if service.id == "intro" %} id="intro" class="services-section">
          <article class="services-section__content max animated">
            <div class="text-section lightest-lavender-text">
              <h1 class="dark-green-text">Transforma tu Gestión: {{ service.title }}</h1>
              <p>{{ service.paragraph }}</p> 
              <a href="#key_features" class="services-section__scroll-link">
                <span class="services-section__scroll-text dark-green-text">{{ service.call_to_action }}</span>
                <figure class="services-section__scroll-arrow">
                    {% include "services_arrow.svg" %} 
                </figure>
            </a>
            </div>
            <figure class="services-section__lock-icon">
              {% include "lock-icon.svg" %} 
            </figure>
          </article>
        </section>
      {% endif %}
 
        <section {% if service.id == "key_features" %} id="key_features" class="light-lavender-bg">
          <article class="max animated">
            <ul class="key_features--list">
            {% for item in service.list %}
                    <li class={{ item.class }}>
                        <h2 class="dark-lavender-text">{{ item.title }}</h2>
                        <p class="thin">{{ item.content }}</p>
                    </li>  
            {% endfor %}
            </ul>
            <h2 class="bottom dark-lavender-text center">{{ service.last-title }}</h2>
          </article>
        </section>
      {% endif %}

      <section {% if service.id == "optimize_resources" %} id="optimize_resources" class="white-bg">
        <article class="max animated dark-olive-text">
                <h3 class="boldest">{{ service.title }}</h3>
                <p>{{ service.paragraph }}</p>
              <ul class="optimize_resources--grid">
                {% for item in service.list %}
                  <li class="animated">
                    <figure class="optimize_resources--svg_list">
                        {% include item.img %} 
                    </figure>
                    <h3 class="bolder">{{ item.title }}</h3>
                    <p class="grey-text">{{ item.content }}</p>
                  </li>
                {% endfor %}
              </ul>
        </article>
      </section>
    {% endif %}

    <section {% if service.id == "allies" %} id="allies" class="whitest-bg">
        <article class="max animated dark-olive-text center">
                <h2 class="maxwidth--text_desktop bold">Innovación y Seguridad: {{ service.title }}</h2>
                <div class="allies--container">
                    <figure class="allies--svg">
                        {% include "cubos.svg" %}
                    </figure>
                    <h3 class="left">{{ service.paragraph }}</h3>
                </div>
                <h3 class="title-max-width dark-lavender-text bolder">{{ service.strong_paragraph }}</h3>
        </article>
      </section>
    {% endif %}

    <section {% if service.id == "cta_services" %} id="cta_services" class="dark-lavender-bg">
      <article class="column">
        <h2 class="title-max-width bold lightest-lavender-text">{{ service.title }}</h2>
        <h2 class="title-max-width light-green-text">{{ service.subtitle }}</h2>
        </article>
        <article class="max animated light-green-text">
                    <div class="column">
                        <p>{{ service.paragraph }}</p>
                        <h3 class="bolder">{{ service.strong_paragraph }}</h3>
                        <button>{{ service.cta }} </button>
                    </div>
                <figure class="cta_services--svg">
                    {% include "Happy person.svg" %}
                </figure>
        </article>
      </section>
    {% endif %}

{% endfor %}
