---
permalink: /servicios/
title: Servicios
layout: index.liquid
data:
  route: servicios
---
<style>
.services-section {
  justify-content: space-around;
}

.services-section__lock-icon svg {
  width: clamp(250px, 30vw, 500px);
  height: auto;
}

#lock-icon path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 4s ease-in-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

#lock-icon .lock-glare {
  stroke: var(--color-accent-1); /* O el color que quieras para los destellos */
  stroke-width: 2; /* Ajusta el grosor del trazo según sea necesario */
  stroke-dasharray: 5 5; /* Crea un patrón de rayas discontinuas */
  stroke-dashoffset: 10; /* Desplaza el patrón de rayas */
  animation: electrify 1s linear infinite;
}

@keyframes electrify {
  0% {
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -10;
  }
}
.services-section__scroll-link {
  display: flex;
  align-items: center; /* Alinea el texto y la flecha verticalmente */
  cursor: pointer;
}

.services-section__scroll-arrow {
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#key_features {
    background-image: url('/img/features_bg.svg');
}

</style>

{% for service in site.data.index.services %}
        <section {% if service.id == "intro" %} id="intro" class="services-section dark-green-bg">
          <article class="services-section__content max animated">
            <div class="text-section lightest-lavender-text">
              <h1 class="dark-green-text">Transforma tu Gestión: {{ service.title }}</h1>
              <p>{{ service.paragraph }}</p> 
              <a href="#key_features" class="services-section__scroll-link">
                <span class="services-section__scroll-text dark-green-text">{{ service.call_to_action }}</span>
                <figure class="services-section__scroll-arrow">
                    {% include "services_arrow.svg" %} 
                </figure>
            </a>
            </div>
            <figure class="services-section__lock-icon">
              {% include "lock-icon.svg" %} 
            </figure>
           
          </article>
        </section>
      {% endif %}
 
        <section {% if service.id == "key_features" %} id="key_features" class="light-lavender-bg">
          <article class="max animated">
            {% for item in service.list %}
                <div>
                    <div class="benefits-column text">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.content }}</p>
                    </div>  
                </div>
            {% endfor %}
          </article>
        </section>
      {% endif %}

      <section {% if service.id == "optimize_resources" %} id="optimize_resources" class="white-bg">
        <article class="max animated dark-olive-text">
            <div class="text-section">
                <h3 class="bold">{{ service.title }}</h3>
                <p>{{ service.paragraph }}</p>
            </div>
          {% for item in service.list %}
              <div>
                  <div >
                    <figure class="services-section__lock-icon">
                        {% include item.img %} 
                    </figure>
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.content }}</p>
                  </div>  
              </div>
          {% endfor %}
        </article>
      </section>
    {% endif %}

{% endfor %}
