---
permalink: /casos-de-uso/
title: Casos de Uso
layout: index.liquid
data:
  route: casos-de-uso
---

<style> 

.use-cases-list {
    display: flex;
    gap: 2em;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.use-cases-card {
    padding: 1em;
    max-width: 95%;
    border-radius: 35px;
}

.use-cases-card img {
    float: left;
    width: 800px;
    border-radius: 35px 0 0 35px;
}

.use-cases-content {
    border: 10px solid red;
    padding: 1em;
    gap: 1em;
}

.tag {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e0e0e0;
    border-radius: 25px;
    text-align: center;
    margin: 5px 0;
}

</style>

{% for use_case in site.data.index.use_cases %}
<section {% if use_case.id == "hero" %} id="hero" >
    <article class="animated">
        <div class="text-section">
            <h1 class="light-green-text">{{ use_case.title }}</h1>
            <h3 class="lightest-lavender-text">{{ use_case.subtitle }}</h3>
            <h3 class="lightest-lavender-text bolder"><a href="#cases">{{ use_case.cta }}</a></h3>
            <figure class="lavender-arrow">
                {% include "arrow_down_lavender.svg" %}
        </figure>
        </div>
        <figure class="logo">
                {% include "website.svg" %}
        </figure>
    </article>
</section>
{% endif %}

<section {% if use_case.id == "cases" %} id="cases" class="whitest-bg dark-olive-text">
    <article class="animated">
        <ul class="use-cases-list">
            {% for case in use_case.cases %}
                    <li class="animated white-bg use-cases-card">
                        <img src="{{ case.img }}" />
                        <div class="use-cases-content">
                            <h3 class="boldest">{{ case.title  }}</h3>
                            <div class="tag">{{ case.tag_one }}</div>
                            <p>{{ case.description }}</p>
                        </div>
                    </li>
                {% endfor %}
        </ul>
    </article>
</section>
{% endif %}

<section {% if use_case.id == "cta" %} id="cta" class="cta light-lavender-bg">
    <article class="animated center">
        <h3 class="bolder">{{ use_case.eyebrow }}</h3>
        <h2 class="header-0">{{ use_case.title }}</h2>
        <button>{{ use_case.cta }}</button>
    </article>
</section>
{% endif %}

{% endfor %}