---
permalink: /inicio/
title: Virto Network
layout: landing.liquid
data:
  route: business-three
---

<style>
img:not(#build_machine) {
     width: 20px !important;
     display: inline-block; 
     vertical-align: middle;
}
.logo.img-c svg { width: 700px; }

ul li, .auto-grid li { display: flex; align-items: center; gap: 1.75em; }
#section-c ul li { margin-bottom: 1em; }

#section-a .text-section { max-width: clamp(300px, 50%, 700px); }
#section-a figure.logo { align-items: start; }
#section-a .arrow-right {
	position: absolute;
	right: clamp(37%, 2vw, 45%);
	top: -20px;
}

#section-b h2 { max-width: 700px; margin-left: 20px; }
#section-b .logo { margin-top: 2em; margin-left: 20px; }
#section-b .text-section { gap: 5em; }

#section-c, #section-b {  align-items: center; flex-wrap: wrap; }
#section-c { padding: 0 1rem; }
#section-c .logo { margin-top: 2em; }

#section-d { display: grid; }
#section-d article div { max-width: 41rem; }
#section-d article div:nth-child(2) { margin-bottom: 1em; }
#section-d .max .text-section {
    gap: 2rem;
    align-self: flex-end;
}
#section-d .max { flex-wrap: wrap; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
    article div { width: 90%; }
    .text-section { max-width: 85%; }
}
@media only screen and (max-width: 1490px) {
    .column { order: -1; width: fit-content(300px); }
}

</style>

{% for landing_c in site.data.landings.landing_c %}
<section {% if landing_c.id == "section-a" %} id="section-a" class="light-green-bg">
	<article class="max animated">
		<div class="text-section dark-olive-text">
			<p>{{ landing_c.eyebrow }}</p>
			<h1>{{ landing_c.title }}</h1>
			<p>{{ landing_c.paragraph_one }}</p>
			<p>{{ landing_c.paragraph_two }}</p>
			<button><a class="track-cta" href="Form">{{ landing_c.call_to_action }}</a></button>
		</div>
		<figure class="arrow-right">
				{% include "arrow_right.svg" %}
		</figure>
		<figure class="logo image">
			{% include "a.svg" %}
		</figure>
	</article>
</section>
{% endif %}

<section {% if landing_c.id == "section-b" %} id="section-b">
	<article class="max animated">
		<div class="column">
			<h2 class="light-green-text">{{ landing_c.title }}</h2>
			<figure class="logo">
				{% include "presentamos_virto.svg" %}
			</figure>
		</div>
		<div class="text-section light-green-text">
			<h3>{{ landing_c.subtitle }}</h3>
			<p>{{ landing_c.paragraph_one }}</p>
			<p>{{ landing_c.paragraph_two }}</p>
		</div>
	</article>
</section>
{% endif %}

<section  {% if landing_c.id == "section-c" %} id="section-c">
	<article class="max animated">
		<div class="text-section light-green-text">
			<h3 class="light-lavender-text">{{ landing_c.subtitle }}</h3>
			<ul>
                {% for item in landing_c.list %}
                    <li class="animated">
                        <img src="{{ item.icon }}" alt="{{ item.alt }}"></img>
                        <p>{{ item.content }}</p>
                    </li>
                {% endfor %}
            </ul>
			<a class="track-cta bold light-lavender-text center-arrow">{{ landing_c.call_to_action }}
				<figure class="link-arrow light-lavender-text">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>

        <div class="column">
			<h2 class="light-green-text">{{ landing_c.title }}</h2>
			<figure class="logo img-c">
				{% include "c.svg" %}
			</figure>
		</div>
	</article>
</section>
{% endif %}

<section {% if landing_c.id == "section-d" %} id="section-d" class="cta light-lavender-bg">
	<article class="animated center dark-olive-text">
		<h3 class="bolder">{{ landing_c.eyebrow }}</h3>
		<h2 class="bolder">
			<span>{{ landing_c.title }}</span>
		</h2>
		<h3 class="bolder">{{ landing_c.paragraph_one  }}</h3>
		<h3>{{ landing_c.paragraph_two  }}</h3>
		<a class="button" href={{ landing_c.link }} >{{ landing_c.call_to_action }}</a>
		<ul>
		{% for social in landing_c.socials %}
			<a class="link-to" title={{ social.title }} href={{ social.link }}>
				{% include social.svg %}
			</a>
		{% endfor %}
		</ul>
		<p>{{ landing_c.socials_text }}</p>
	</article>
</section>
{% endif %}

{% endfor %}


<script>
let url = new URL(window.location.href);

url.searchParams.set('b', 'b-three');

window.history.pushState({}, '', url);

window.document.onload = () => { window.amplitude.track(`view:landing:b`); }

let cta = document.querySelectorAll(".track-cta");
	cta.forEach((c) => {
		c.addEventListener('click', () => {
		let newWindow = window.open();
		let searchParams = new URL(window.location.href);
		window.amplitude.track(`landing:b:click-apply`);
		let url = `https://apply.virto.network${searchParams.search}`;
		newWindow.location = url;
	})
});

const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });

</script>
