<head>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/variables.css">
</head>
<nav id="nav" class="top-nav" aria-label="Principal">
	<div class="max row bold">
		<a class="menu-item" href="/" id="virto-logo" role="menuitem" aria-label="Inicio">
			{% include "virto_logo.svg" %}
		</a>
		{% for nav in site.data[site.data.lang].nav %}
			<a class="{{ nav.class }} {% if page.data.route == '{{ nav.route }}'%}current{% endif %}" href={{ nav.route }} role="menuitem" aria-label={{ nav.link }}>
				{{ nav.link }}
			</a>
		{% endfor %}
		<a id="menu-icon" class="menu-icon" aria-label="Abrir menú" tabindex="1">
			<svg width="30" height="30" viewBox="-2 -2 34 34" aria-labelledby="Icono menu mobile">
				<title id="Icono menu mobile">Menu mobile</title>
				<line x1="2" y1="7" x2="28" y2="7" stroke="#DECFF1" stroke-width="3" stroke-linecap="round"/>
				<line x1="28" y1="17" x2="15" y2="17" stroke="#DECFF1" stroke-width="3" stroke-linecap="round"/>
				<line x1="2" y1="27" x2="28" y2="27" stroke="#DECFF1" stroke-width="3" stroke-linecap="round"/>
			</svg>
		</a>
		<nav id="menu-dropdown" aria-label="Secundaria">
		    <a id="close-menu" class="close-menu" aria-label="Cerrar menú"></a>
			{% for nav in site.data[site.data.lang].nav %}
			<a class="{{ nav.class }} {% if page.data.route == '{{ nav.route }}'%}current{% endif %}" href={{ nav.route }} role="menuitem" aria-label={{ nav.link }}>
				{{ nav.link }}
			</a>
		{% endfor %}
		</nav>
	</div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const menuIcon = document.getElementById('menu-icon');
    const menuDropdown = document.getElementById('menu-dropdown');
    const closeMenu = document.getElementById('close-menu');

    menuIcon.addEventListener('click', function() {
        menuDropdown.style.display = 'flex';
    });

    closeMenu.addEventListener('click', function() {
        menuDropdown.style.display = 'none';
    });

    const menuLinks = menuDropdown.querySelectorAll('a');
    menuLinks.forEach(function(link) {
        link.addEventListener('click', function() {
            menuDropdown.style.display = 'none';
        });
    });
});
</script>
