---
permalink: /home/
title: Virto Network
layout: landing.liquid
data:
  route: home
---

<style>
img:not(#build_machine) {
     width: 20px !important;
     display: inline-block; 
     vertical-align: middle;
}
.logo.img-c svg { width: 600px; }

ul li, .auto-grid li { display: flex; align-items: center; margin-bottom: -16px;}
#section-c ul li { margin-bottom: 1em; }

#section-a figure.logo { align-items: start; }
#section-a .arrow-right {
	position: absolute;
	right: clamp(37%, 2vw, 45%);
	top: -20px;
}

#section-b h2 { max-width: 700px; margin-left: 20px; }
#section-b .logo { margin-top: 2em; margin-left: 20px; }

#section-c, #section-b {  align-items: center;  flex-wrap: wrap; }
#section-c .logo { margin-top: 2em; }

#section-d { display: grid; }
#section-d article div { max-width: 41rem; }
#section-d article div:nth-child(2) { margin-bottom: 1em; }
#section-d .max .text-section {
    gap: 2rem;
    align-self: flex-end;
    width: 90%;
}
#section-d .max { flex-wrap: wrap; }

/*MOBILE*/
@media only screen and (max-width: 767px) {
    article div, { width: 90%; }
    .text-section { max-width: 85%; }
    .column { order: -1; width: 90%; }
}


</style>

{% for landing_a in site.data.index.landing_a %}
<section {% if landing_a.id == "section-a" %} id="section-a" class="light-green-bg">
	<article class="max animated">
		<div class="text-section dark-olive-text">
			<p>¡Bienvenido a Virto!</p>
			<h1>{{ landing_a.title }}</h1>
			<p>{{ landing_a.paragraph }}</p>
			<button><a href={{ landing_a.href }}>{{ landing_a.call_to_action }}</a></button>
		</div>
		<figure class="arrow-right">
				{% include "arrow_right.svg" %}
		</figure>
		<figure class="logo image">
			{% include "a.svg" %}
		</figure>
	</article>
</section>
{% endif %}

<section {% if landing_a.id == "section-b" %} id="section-b">
	<article class="max animated">
		<div class="column">
			<h2 class="light-green-text">{{ landing_a.title }}</h2>
			<figure class="logo">
				{% include "presentamos_virto.svg" %}
			</figure>
		</div>
		<div class="text-section light-green-text">
			<h3>{{ landing_a.subtitle }}</h3>
			<ul class="auto-grid">
		    {% for item in landing_a.list %}
				<li class="animated">
                    <img src="{{ item.icon }}" alt="{{ item.alt }}" ></img>
					<p>{{ item.content }}</p>
				</li>
            {% endfor %}
            </ul>
			<a href={{ landing_a.href }} class="bold light-lavender-text center-arrow">{{ landing_a.call_to_action }}
				<figure class="link-arrow light-lavender-text">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>
	</article>
</section>
{% endif %}

<section  {% if landing_a.id == "section-c" %} id="section-c">
	<article class="max animated">
		<div class="text-section light-green-text">
			<h3 class="light-lavender-text">{{ landing_a.subtitle }}</h3>
            <p>{{ landing_a.paragraph }}</p>
			<ul>
                {% for item in landing_a.list %}
                    <li class="animated">
                        <img src="{{ item.icon }}" alt="{{ item.alt }}"></img>
                        <p>{{ item.content }}</p>
                    </li>
                {% endfor %}
            </ul>
			<a href={{ landing_a.href }} class="bold light-lavender-text center-arrow">{{ landing_a.call_to_action }}
				<figure class="link-arrow light-lavender-text">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>

        <div class="column">
			<h2 class="light-green-text">{{ landing_a.title }}</h2>
			<figure class="logo img-c">
				{% include "c.svg" %}
			</figure>
		</div>
	</article>
</section>
{% endif %}

<section {% if landing_a.id == "section-d" %} id="section-d" class="whitest-bg">
	<article class="max animated">
		<div class="text-section">
			<h2 class="dark-olive-text">{{ landing_a.title }}</h2>
			<figure class="logo build-machine">
				<img id="build_machine" src="img/build_machine.svg" alt="Construir comunidad"/>
			</figure>
		</div>
		<div class="text-section">
			<h3 class="dark-olive-text">Aprovecha esta oportunidad única.</h3>
			<p class="dark-olive-text">{{ landing_a.paragraph }}</p>
			<a class="dark-olive-text center-arrow" href={{ landing_a.href }}>{{ landing_a.call_to_action }}
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</div>
	</article>
</section>
{% endif %}

{% endfor %}


<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });

</script>