<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="theme-color" content="#3A3387">
	<title>{{ page.title }}</title>
	
	<style>
	{% include "style_prelude.css" %}
	main { padding: 2rem 1rem; box-sizing: border-box; }
	footer {
		height: 5rem;
		padding-top: 2rem;
		border-radius: 50vw 50vw 0 0 / 1rem 1rem 0 0;
		background: whitesmoke;
	}
	header h1, header p { text-align: center; }
	header h1 { margin-top: 8vh; color: var(--color-accent); }
	header p { font-style: italic; } 
	header time::after { content: '⬣'; margin: 0 1em; color: var(--color-alt); }
	header picture {
		align-items: center;
		background: var(--color-accent);
		box-sizing: border-box;
		color: white;
		display: flex;
		justify-content: center;
		margin: 3rem 0;
		padding: 1rem; border-radius: 5px;
		width: 100%; height: 24vmax;
		max-height: calc(var(--max-width) / 2);
	}
	article { line-height: 1.6em; max-width: 700px; margin: auto; }
	article strong { color: var(--color-accent); }
	article a { color: var(--color-alt); }
	article ul { list-style: "⬡   "; }
	blockquote {
		background: whitesmoke;
		border-radius: 5px;
		margin: 2rem 0; padding: 1rem;
	}
	blockquote p { margin: 0; color: dimgray; }
	</style>
</head>

<body>
	{% include "nav.liquid" active:"blog", class:"" %}
	<main class="max">
		<header>
			<h1>{{ page.title }}</h1>
			<p>
				<time datetime="{{ page.published_date}}">{{ page.published_date | date: "%b %d, %Y" }}</time>
				by {{ page.data.author }}
			</p>
			<picture>
				<img src="" alt="Post cover">
			</picture>
		</header>
		<article>{{ page.content }}</article>
	</main>
	<footer></footer>
</body>
</html>

