<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="theme-color" content="#8d52cb">
	<title>{{ page.title }}</title>
	
	<style>
	#post { background-color: var(--clr-white); }
	main { padding: 2rem 1rem; box-sizing: border-box; }
	header h1, header p { text-align: center; }
	header h1 { margin-top: 8vh; }
	header p { font-style: italic; color: var(--clr-olive-darker); margin-top: 1em; } 
	header time::after { content: '⬣'; margin: 0 1em; color: var(--clr-lavender-lighter); }
	header picture {
		align-items: center;
		color: white;
		display: flex;
		justify-content: center;
		margin: 3rem 0;
		border-radius: 8px;
		width: 100%; height: 40vmax;
		max-height: calc(var(--max-width) * 0.6 );
		overflow: hidden;
	}
	header img { object-fit: cover; width: 100%; height: 100%; }
	#post article { font-size: 1.1em; line-height: 1.8em; max-width: 700px; margin: auto; }
	#post article>p, article>h3 { margin: calc(1.5rem + 2vmin) 0; }
	article strong { color: var(--clr-olive-darker); }
	article a { color: var(--clr-lavender-darker); }
	article ul { list-style: "⬡   "; }
	blockquote {
		background: var(--clr-green-lighter);
		border-radius: 5px;
		margin: 2rem 0; padding: 1rem;
	}
	blockquote p { margin: 0; }
	code { vertical-align: bottom; }
	li { padding: .5em; }
	</style>
</head>

<body  data-route={{ page.data.route }}>
	{% include "nav.liquid" active:"blog", class:"" %}
	<main class="max" id="post">
		<header>
			<h1>{{ page.title }}</h1>
			<p>
				<time datetime="{{ page.published_date}}">{{ page.published_date | date: "%b %d, %Y" }}</time>
				by {{ page.data.author }}
			</p>
			<picture>
				<img src="/img/blog/{{ page.slug }}.jpg" alt="Post cover">
			</picture>
		</header>
		<article>{{ page.content }}</article>
	</main>
	{% include "footer.liquid" %}
</body>
</html>

