---
permalink: /b-3
title: Virto Network
layout: landing.liquid
data:
  route: business-three
---

<style>
main { overflow: hidden; }

p { --font-size-paragraph: 1.3em; }
.main__logo svg {
    width: clamp(700px, 30vw, 900px) !important;
}

#section-a .text-section { max-width: clamp(300px, 50%, 700px); }
#section-a figure.logo { align-items: start; }

#section-b h2 { max-width: 700px; margin-left: 20px; }
#section-b .logo { margin-top: 2em; margin-left: 20px; }
#section-b ul li { margin-bottom: 1em; }

#section-c, #section-b {  align-items: center; flex-wrap: wrap; }
#section-c { padding: 0 1rem; }
#section-c .logo { margin-top: 2em; }
.logo.img-c svg { width: 700px; }
ul li, .auto-grid li { display: flex; align-items: center; gap: 1.75em; }
#section-c ul li { margin-bottom: 1em; }

#section-d article h2 {
    max-width: 900px;
}
/*MOBILE*/
@media only screen and (max-width: 767px) {
    article div { width: 90%; }
    .text-section { max-width: 85%; }
	.column { gap: .5em; }
}
@media only screen and (max-width: 1490px) {
    .column { order: -1; width: fit-content(300px); }
}

</style>

{% for landing_c in site.data.landings.landing_c %}
<section {% if landing_c.id == "section-a" %} id="section-a" class="light-green-bg">
	<article class="max animated">
		<div class="text-section dark-olive-text">
			<p class="bolder">{{ landing_c.eyebrow }}</p>
			<h1>{{ landing_c.title }}</h1>
			<p>{{ landing_c.paragraph_one }}</p>
			<a class="track-superior-cta button" href="https://waitlist.virto.network/">{{ landing_c.call_to_action }}</a>
		</div>
		<figure class="logo image main__logo">
			{% include "Virto card.svg" %}
		</figure>
	</article>
</section>
{% endif %}

<section {% if landing_c.id == "section-b" %} id="section-b">
	<article class="max animated">
		<div class="column">
			<h2 class="light-green-text">{{ landing_c.title }}</h2>
			<figure class="logo">
				{% include "debit_card.svg" %}
			</figure>
		</div>
		<div class="text-section light-green-text">
			<h3>{{ landing_c.subtitle }}</h3>
			<ul>
                {% for item in landing_c.list %}
                    <li class="animated">
                        <img src="{{ item.icon }}" alt="{{ item.alt }}"></img>
                        <p>{{ item.content }}</p>
                    </li>
                {% endfor %}
            </ul>
		</div>
	</article>
</section>
{% endif %}

<section  {% if landing_c.id == "section-c" %} id="section-c">
	<article class="max animated">
		<div class="text-section light-green-text">
			<ul>
                {% for item in landing_c.list %}
                    <li class="animated">
                        <img src="{{ item.icon }}" alt="{{ item.alt }}"></img>
                        <p>{{ item.content }}</p>
                    </li>
                {% endfor %}
            </ul>
		</div>
        <div class="column">
			<h2 class="light-green-text">{{ landing_c.title }}</h2>
			<figure class="logo img-c">
				{% include "solution.svg" %}
			</figure>
		</div>
	</article>
</section>
{% endif %}

<section {% if landing_c.id == "section-d" %} id="section-d" class="cta light-lavender-bg">
	<article class="animated center dark-olive-text">
		<h2 class="bolder">
			<span>{{ landing_c.title }}</span>
		</h2>
		<h3>{{ landing_c.paragraph }}</h3>
		<a class="track-inferior-cta button" href={{ landing_c.link }}>
			{{ landing_c.call_to_action }}
		</a>
		<ul class="social-media__links">
		{% for social in landing_c.socials %}
			<a id={{ social.id }} class="link-to" title={{ social.title }}>
				{% include social.svg %}
			</a>
		{% endfor %}
		</ul>
		<p>{{ landing_c.socials_text }}</p>
	</article>
</section>
{% endif %}

{% endfor %}

<script>
document.addEventListener('DOMContentLoaded', function() {    
	window.amplitude.track('view:landing:c');

	function handleCtaClick(event) {
		event.preventDefault();
		let redirectUrl = new URL('https://waitlist.virto.network/');
		redirectUrl.searchParams.set('b', 'b-three');
		if (event.currentTarget.classList.contains('track-superior-cta')) {
        	window.amplitude.track('landing:c:click-superior-cta');
    	} else if (event.currentTarget.classList.contains('track-inferior-cta')) {
        	window.amplitude.track('landing:c:click-inferior-cta');
    	}
	window.open(redirectUrl.toString(), '_blank');
	}
	
	let ctas = document.querySelectorAll('.button');
	ctas.forEach((cta) => {
		cta.addEventListener('click', handleCtaClick);
	});

    telegram.addEventListener('click', (event) => {
        event.preventDefault();
        let redirectUrl = new URL('https://t.me/+573107887042');
        const newWindow = window.open(redirectUrl, '_blank');
        amplitude.track('landing:c:click-telegram');
        setTimeout(function() {
            newWindow.location = redirectUrl.toString();
        }, 200);
    });

    let whatsapp = document.getElementById("whatsapp");
    whatsapp.addEventListener('click', (event) => {
        event.preventDefault();
        let redirectUrl = new URL('https://api.whatsapp.com/send?phone=573107887042');
        const newWindow = window.open(redirectUrl, '_blank');
        amplitude.track('landing:c:click-whatsapp');
        setTimeout(function() {
            newWindow.location = redirectUrl.toString();
        }, 200);
    });

    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    const addViewedClass = ([e], ob) => {
        e.target.classList.add('viewed');
        ob.unobserve(e.target);
    };
    const whenVisible = (elements, fn, opts) => {
        const ob = new IntersectionObserver(fn, opts);
        $$(elements).forEach(e => ob.observe(e));
    };
    const makeSticky = ([br]) =>
        br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

    whenVisible('main>section', addViewedClass, { threshold: 0.2 });
    whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });
});
</script>
